# Sentiment Analysis by `Mr. Harshit Dawar!`

* It is a way to identify the sentiments of the persons using the comments/reviews of the users.
* It can be performed using multiple libraries, but obviously the basic logic remains the same as always.
* In this practical, Twitter Dataset of 1.6 Million Tweets is used to perform the sentiment analysis using the review/tweet.

In [1]:
# Importing the libraries
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [14]:
# Loading the Dataset
tweets = pd.read_csv("dataset.csv",
                     encoding = "latin1",
                     header = None,
                     names = ['sentiment', 'id', 'date', 'query', 'user', 'text'])

In [10]:
tweets.head()

,sentiment,id,date,query,user,text
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

In [12]:
tweets.shape

(1600000, 6)

In [45]:
# Checking any null value!
tweets.isna().sum()

sentiment    0
id           0
date         0
query        0
user         0
text         0
dtype: int64

In [50]:
# Dropping un-neccessary Columns
tweets.drop(["id", "date", "query", "user"], axis = 1, inplace = True)

In [51]:
tweets.head()

   sentiment                                               text
0          0  @switchfoot http://twitpic.com/2y1zl - Awww, t...
1          0  is upset that he can't update his Facebook by ...
2          0  @Kenichan I dived many times for the ball. Man...
3          0    my whole body feels itchy and like its on fire
4          0  @nationwideclass no, it's not behaving at all....