# ELMo by `Mr. Harshit Dawar!`
* This model provides state-of-the-art results in the NLP Field!
* It forms the deep conceptualized Word Representations!

In [3]:
# Importing the required Libraries
import pandas as pd
import numpy as np
import tensorflow as tf
import tensorflow_hub as hub

## Loading the Dataset

In [5]:
data = pd.read_csv("spam_dataset.csv", encoding = "latin1")

In [6]:
data

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will Ì_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

## Processing & Filtering the dataset

In [7]:
category = data.v1.values

In [8]:
category

array(['ham', 'ham', 'spam', ..., 'ham', 'ham', 'ham'], dtype=object)

In [9]:
texts = data.v2.values

In [11]:
texts[0]

'Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat...'

In [12]:
texts.shape

(5572,)

In [13]:
# Finding the biggest text
max([len(text) for text in texts])

910

In [14]:
from sklearn.preprocessing import LabelEncoder

In [16]:
encoder = LabelEncoder()
encoded_categories = encoder.fit_transform(category)

In [17]:
encoded_categories

array([0, 0, 1, ..., 0, 0, 0])

In [18]:
from tensorflow.keras.utils import to_categorical

In [19]:
encoded_categories_categorical = to_categorical(encoded_categories)

In [20]:
encoded_categories_categorical

array([[1., 0.],
       [1., 0.],
       [0., 1.],
       ...,
       [1., 0.],
       [1., 0.],
       [1., 0.]], dtype=float32)

In [21]:
encoded_categories_categorical.shape

(5572, 2)